PROJECT_NAME=AgriSmart AI Backend
API_V1_STR=/api/v1
ENVIRONMENT=development
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173","http://127.0.0.1:5173"]
MODEL_PATH=ai_model/models/crop_disease_model.pth
CLASSES_PATH=dataset/classes.json
